@charset 'UTF-8';

body {
	padding: 0;
	margin: 0;
}

* {
	font-family: Raleway;
}

#gx-sidemenu, #gx-sidemenu-right {
	position: fixed;
	background: url('images/gmenu_bg.png') repeat;
	width: 15%;
	min-width: 280px;
	top: 0;
	left: 0;
	overflow: hidden;
	font-family: Raleway;
	z-index: 99999999;
}

#gx-sidemenu.tiny, #gx-sidemenu-right.tiny {
	min-width: 50px;
	width: 70px;
}

#gx-sidemenu.tiny #gx-sidemenu-login, 
#gx-sidemenu-right.tiny #gx-sidemenu-login
{
	display: none;
}

#gx-sidemenu.tiny li,
#gx-sidemenu-right.tiny li {
	height: 48px;
	padding-left: 0;
	width: 100%;
}

#gx-sidemenu.tiny li.divider,
#gx-sidemenu-right.tiny li.divider {
	height: 2px;
	width: 100%;
}

#gx-sidemenu.tiny a .text,
#gx-sidemenu-right.tiny a .text {
	display: none;
}

#gx-sidemenu.tiny li .icon,
#gx-sidemenu-right.tiny li .icon {
	width: 90% !important;
	height: 50px !important;
	display: inline;
}

#gx-sidemenu.tiny ul li .arrow, 
#gx-sidemenu-right.tiny ul li .arrow {
	right: 15%;
}

#gx-sidemenu * .icon,
#gx-sidemenu-right * .icon {
	font-family: entypo !important;
}

#gx-sidemenu * .icon.entypo-social,
#gx-sidemenu-right * .icon.entypo-social {
	font-family: "entypo-social" !important;
}

.gx-sidemenu-inner {
	float: left;
	width: 100%;
	background: transparent url('images/gmenu_glow.png') no-repeat center left;
	position: relative;
	padding-top: 0px;
	overflow: hidden;
	z-index: 9999998;
}

.gx-sidemenu-inner div.scroll {
	float: left;
	width: 100%;
	position: relative;
	z-index: 9999999;
}

#gx-sidemenu-login {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 160px;
	padding-bottom: 80px;
	width: 100%;
	background: rgba(0,0,0,0.4) url('images/gexasoftware.png') no-repeat bottom +25px right +30px;
}

#gx-sidemenu .divider,
#gx-sidemenu-right .divider {
	width: 100%;
	height: 2px;
	background: url('images/gmenu_divider.png') repeat-x top;
	clear: both;
	float: left;
	padding: 0;
	margin: 0 0 0px 0;
}

.gx-sidemenu-inner ul {
	list-style: none;
	padding: 0;
	margin: 0;
	float: left;
	width: 100%;
	padding-top: 0px;
}

.gx-sidemenu-inner ul li {
	float: left;
	width: 98%;
	padding: 0 2% 0 0;
	clear: both;
	margin: 0 !important;
	position: relative;
}

.gx-sidemenu-inner ul li .icon {
	float: left;
	width: 20%;
	height: 45px !important;
	padding: 0;
	font-size: 36px !important;
	line-height: 0.8;
	text-align: center;
	color: #666 !important;
}

.gx-sidemenu-inner ul li .icon.mobile {
	line-height: 1.3em;
}

#gx-sidemenu-login h2 .icon.mobile {
	line-height: 1.3;
}

.gx-sidemenu-inner ul li a .arrow {
	font-family: entypo !important;
	position: absolute;
	top: 28%;
	right: 5%;
	width: 10px;
	height: 10px;
	color: #999;
}


.gx-sidemenu-inner ul li:hover {
	background: rgba(0,0,0,0.6);
}

.gx-sidemenu-inner ul li .text {
	width: 65%;
	min-height: 20px;
	padding: 15px 5% 10px 0;
	padding-left: 10%;
	background: url('images/gmenu_divider_v.png') repeat-y left;
	float: left;
	height: auto;
}

.gx-sidemenu-inner ul li a {
	color: #999;
	text-decoration: none;
	font-size: 16px;
	float: left;
	width: 100%;
	clear: both;
}

#gx-sidemenu-login h2 {
	color: #aaa;
	font-weight: normal;
	margin: 0 !important;
	float: left;
	width: 100%;
	font-size: 18px;
	padding: 0;
}

#gx-sidemenu-login h2 .icon {
	font-size: 36px;
	padding: 0;
	margin: 0px 0 0 2%;
	text-align: center;
	width: 50px;
	height: 40px;
}

#gx-sidemenu-login h2 span.text {
	float: left;
	padding: 13px 0 10px 0;
}

#gx-sidemenu-login .login-btn {
	clear: both;
	width: 90%;
	color: #aaa;
	font-size: 18px;
	text-decoration: none;
	float: left;
	padding: 15px 5%;
	margin-bottom: 0;
}

#gx-sidemenu-login .login-btn:hover {
	background: #000;
}

#gx-sidemenu ul li.active-link {
	background: #000 !important;
	text-decoration: underline;
}

#gx-sidemenu ul li.active-link a {
	color: #BBB;
}

.gx-menu-open {
	position: absolute;
	top: 50px;
	left: 5%;
	color: #000;
	text-decoration: none;
	font-size: 100px;
	font-family: 'entypo' !important;
}

#gx-sidemenu-tip {
	background: rgba(0,0,0,0.9);
	border: 1px solid #000;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-ms-border-radius: 5px;
	padding: 10px;
	color: #fff;
	font-family: Raleway;
	font-size: 14px;
}

.iScrollIndicator {
	border: 1px solid #333 !important;
	background: rgba(100,100,100,.20) !important;
}
